@media (max-width: 769px) {
    .faq{ 

        &__bg{
            height: 2000px;
        }
        &__title-block{

            &-text{
                margin-left: 0;
                margin-bottom: 60px;
            }
            flex-direction: column;
            &-image{
                width: 100%;
                left: 0px ;
                margin-bottom: 60px;

            }
        }

        
    }
  }