.faq {
  margin-top: 80px;
  &__title-block {
    justify-content: center;
    display: flex;
    align-items: center;
    padding-top: 160px;
    // width: 500px;

    &-text {
      min-width: 550px;
      margin-left: 140px;
    }
    &-image {
      position: relative;
      left: -80px;
      top: -30px;
      align-items: center;
    }
  }

  &__bg {
    position: absolute;
    z-index: -1;
    right: 0;
    border-radius: 200px 0 0 0;
    position: absolute;
    z-index: -1;
    height: 1500px;
    width: 1170px;
    background-color: #fdede8;
  }
  .accordion-container {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .accordion {
    gap: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    .extra {
      .accordion__item-header {
        // opacity: 0.2;

        background-color: #ed4d472c;
        display: flex;
        justify-content: flex-end;
        @extend %text-uppercase;
        color: $color_primary;
        letter-spacing: 0.9px;

        &::after{
            margin-left: 170px;
        }
      }

      .accordion__item-body{
        background-color: red;
        &-content{
            a{
                text-decoration: none;
                color: $color_primary;
               @extend %text-uppercase;

    
            }
          }
      }
      
    }

    &__item {
      width: 550px;
      //   background-color: gray;

      &-header {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 25px 35px 25px 35px;
        font-family: "Rubik-Medium";
        color: $text-color;
        background-color: white;
        border-radius: 10px;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        box-shadow: 0px 20px 40px 0px rgba(238, 77, 71, 0.10);
        transition: ease-in .4s;

        &.active{
            
            border-radius: 10px 10px 0 0;
        }

        &.active::after {
          color: $color_primary;
          content: "\2212";
          
        }

        &::after {
          content: "\002B";
          color: $color_primary;
          font-size: 2rem;
          //   position: absolute;
          //   right: 1rem;
        }

      }

      &-body {
        max-height: 0;
        overflow: hidden;
        // box-shadow: 0px 20px 40px 0px rgba(238, 77, 71, 0.10);

        // transition: max-height 0.2s ease-out;
        transition: ease-in-out .4s;
        &-content {
          color: $text-color;
            margin-bottom: 50px;
          padding: 40px 127px 60px 35px;
          font-family: "Rubik-Light";
          font-size: 18px;
          font-style: normal;
          font-weight: 300;
          line-height: 30px;
          //   height: auto;
          border-radius: 3px;
          background: #fff7f5;
        //   box-shadow: inset 0px 20px 40px 0px rgba(238, 77, 71, 0.1);
        //   box-shadow: 0px 20px 40px 0px rgba(238, 77, 71, 0.1);
        box-shadow: 0px -2px 40px 8px rgba(238, 76, 71, 0.067);
        }
      }
    }
  }
}
