@media (max-width: 769px) {
  header {
    padding: 20px 0 10px 0;
    .navbar {
      align-items: flex-start;

      &__logo img{
        width: 150px;
        margin-left: 10px;
      }
      &__nav {
        ul {
          @include flex-fd-w-ac-jc-ai($fd: column, $jc: flex-end, $ai: flex-end);
          gap: 20px;

          li a.cta {
            display: none;
          }
        }
      }
      
    }
  }
}

@media(max-width: 450px){
  header {

    .navbar {
      @include flex-fd-w-ac-jc-ai($fd: column, $ai: center);

      &__logo{
        @include flex-fd-w-ac-jc-ai($ai: center);

        img{
          margin-bottom: 20px;
          margin-left: 0;
          width: auto;
        }
      }
      
      &__nav {
        @include flex-fd-w-ac-jc-ai($ai: center);

        ul {
          margin: auto;
          flex-direction: row;
          
        }
      }
      
    }
  }
}
