header {
//   background-color: gray;
  padding-top: 40px;

  .navbar {
    @include flex-fd-w-ac-jc-ai( $jc: space-between, $ai: center);

    &__nav {
      ul {
        @include flex-fd-w-ac-jc-ai($w: wrap, $ai: baseline);
        gap: 100px;
   
      }

      ul > li > a {
        @include font-size-weight-lh("Rubik-Bold", 16px);
        @extend %text-uppercase;
        text-decoration: none;
        color: white;
        transition: ease-in-out 0.3s;
        letter-spacing: .8px;

        &:hover {
          color: $color_primary;
        }
      }
    }
  }
}
