header {
//   background-color: gray;
  padding-top: 40px;

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__nav {
      ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 100px;
        align-items: baseline;
      }

      ul > li > a {
        @extend %text-uppercase;
        text-decoration: none;
        color: white;
        font-family: "Rubik-Bold";
        transition: ease-in-out 0.3s;
        font-size: 16px;
        letter-spacing: .8px;

        &:hover {
          color: $color_primary;
        }
      }
    }
  }
}
