@media (max-width: 769px) {
  header {
    .navbar {
      align-items: flex-start;

      &__nav {
        ul {
          display: flex;
          justify-content: flex-end;
          flex-direction: column;
          align-items: flex-end;

          gap: 20px;
          li a.cta {
            display: none;
          }
        }
      }
    }
  }
}
