.text {
  @include font-size-weight-lh("Rubik-light", 18px, $lh: 40px);
  color: $text-color;
  max-width: 470px;

  &-important {
    @include font-size-weight-lh("Rubik-Medium", 24px, $lh: 36px);
    @include flex-fd-w-ac-jc-ai( $ai: center);
    margin-top: 70px;
    padding: 30px 55px;
    width: 460px;
    height: 100px;
    background-color: #fcddd458;
    border-left: 10px solid $color_primary;
    border-radius: 5px 0px 0px 5px;
  }
}

.main {
  margin-top: 180px;
  &__about {
    display: flex;
    &-image {
      position: relative;
      top: -50px;
      left: 40px;
    }
  }

  &__howto {
    @include flex-fd-w-ac-jc-ai($fd: row-reverse, $jc: center, $ai: center);
    margin-top: 70px;

    &-image {
      position: relative;
      top: 40px;
      left: -100px;
    }
  }
}
