@media (max-width: 769px) {
  .main {
    margin-top: 180px;
    &__about {

      &-text{
        
        .text-important{
            width: auto;
            height: auto;
        }
      }
      display: flex;
      flex-direction: column;
      &-image {
        width: 100%;
        margin-top: 80px;
        left: 0;
      }
    }
  
    &__howto {
      flex-direction: column;
  
      &-image {
        width: 120%;

        position: relative;
        top: -40px;
        left: 0;
      }
    }
  }
}