.contact{
  position: relative;
  margin-top: 140px;
  // padding-top: 60px;

  &-bg{
    @include z-index(-2);
    bottom: 0;
    left: 0;
  }

  &__container{
    padding-bottom: 120px;
  }

  &__form{
    @include flex-fd-w-ac-jc-ai( $jc: space-between);
    padding-top: 60px;
  
    &-text {
      @include font-size-weight-lh("Rubik-Regular", 20px, $lh: 30px);
      @include flex-fd-w-ac-jc-ai($ai: center);
      margin-top: 210px;
      width: 360px;
      height: 160px;
      padding: 10px 0 10px 40px;
      color: white;
      border-left: 10px solid $color_primary;
      border-radius: 5px 0px 0px 5px;
    }
  
    form {
      @include flex-fd-w-ac-jc-ai($fd: column, $jc: center, $ai: flex-start);
      margin-right: 95px;
      padding: 52px 75px 52px 75px;
      background-color: gray;
      border-radius: 10px;
      background: #fff;
      box-shadow: 0px 20px 40px 0px rgba(238, 77, 71, 0.1);
      z-index: 999;
  
  
      .input-title {
        color: $text-color;
        @include font-size-weight-lh("Rubik-Light", 16px, $lh: 40px);
        margin-bottom: 10px;
      }
      .input-title:last-of-type {
        margin-top: 20px;
      }
  
      input {
        max-width: 320px;
        height: 44px;
        border-radius: 5px;
        border: 1px solid rgba(238, 77, 71, 0.5);
        background: #fff;
        padding: 8px 40px;
        &:focus {
          box-shadow: 0px 20px 40px 0px rgba(238, 77, 71, 0.2);
        }
      }
      input::placeholder {
        color: $text-color;
        @include font-size-weight-lh("Rubik-Light", 18px, 300, 40px);
      }
      
      input[type="text"] {
        @include font-size-weight-lh("Rubik-bold", 18px);
      }
  
      .cta {
        margin-top: 30px;
        
      }    
  
    }
  }

  &__navbar{
    @include flex-fd-w-ac-jc-ai($jc: space-between, $ai: center);
    margin: 170px 95px 0px 0;

    &-nav{

        ul{
            display: flex;
            gap: 100px;

            li>a{
                text-decoration: none;
                color: white;
                @extend %text-uppercase;
                @include font-size-weight-lh("Rubik-regular", 16px);
                letter-spacing: .8px;
            }
        }
    }
  }
}

.scene__track-footer{
  position: absolute;
}
