

@media (max-width: 769px) {
  .testi{
    flex-direction: column;

    &__carousel{
      flex-direction: column-reverse;
      align-items: center;
    }

    &__carousel {
      .carousel {
        width: 100%;
      }

      .owl-carousel {
        
        .owl-stage-outer{
          padding-bottom: 50px;

        // width: 100%;
        }

      }
    }
  }

}


@media (min-width: 1600px) {
 
  .owl-stage-outer{
    // width: 130%;
  }
}