@media (max-width: 769px) {
  .testi {
    flex-direction: column;

    .carousel-nav {
      margin-left: 40px;
      margin-right: 40px;
    }

    &__carousel {
      flex-direction: column-reverse;
      align-items: center;
    }

    &__carousel {
      .carousel {
        width: 100%;
      }

      .owl-carousel {
        .owl-stage-outer {
          padding-bottom: 50px;
        }
      }
    }
  }
}

@media (max-width: 376px) {
  .testi {
    .carousel-nav {
      &__btns {
        height: 40px;
        height: 40px;
        align-items: center;
      }
      margin: 0;
      h3 {
        margin-bottom: 0;
      }
    }

    &__carousel {
      margin-top: 20px;
      &-title {
        text-align: center;
        min-width: 320px;
      }
      .item {
        width: 280px;
        padding: 5px;

        &-text {
          padding: 10px;
        }

        &__profile {
          margin-left: 5px;
          margin-top: 30px;
        }
      }

      .owl-item {
        left: -10px;
      }
    }
  }
}
