.footer {
  @include flex-fd-w-ac-jc-ai( $fd: row, $jc: space-between, $ai: center);
  margin-top: 50px;
  margin-bottom: 92px;

  p {
    color: $text-color;
    @include font-size-weight-lh("Rubik-Light", 16px, $lh: 30px);
  }

  ul {
    @include flex-fd-w-ac-jc-ai();
    margin-right: 95px;
    gap: 31px;
    li > a > img {
      background-repeat: no-repeat;
      width: 36px;
      height: 36px;
    }
  }
}
