@font-face {
    font-family: "Roboto-Bold";
    src: url("../assets/fonts/Roboto-Bold.ttf");
};
@font-face {
    font-family: "DMSerifDisplay-Regular";
    src: url("../assets/fonts/DMSerifDisplay-Regular.ttf");
};

@font-face {
    font-family: 'Rubik-Bold';
    src: url("../assets/fonts/Rubik-Bold.ttf");
};
@font-face {
    font-family: "Rubik-Regular";
    src: url("../assets/fonts/Rubik-Regular.ttf");
};
@font-face {
    font-family: "Rubik-Light";
    src: url("../assets/fonts/Rubik-Light.ttf");
};
@font-face {
    font-family: "Rubik-Medium";
    src: url("../assets/fonts/Rubik-Medium.ttf");
}