@font-face {
    font-family: "bebasneuebold";
    src: url("/assets/fonts/bebasneuebold.woff2");
}

@font-face {
    font-family: "OpenSans-Bold";
    src: url("/assets/fonts/OpenSans-Bold.ttf");
}
@font-face {
    font-family: "OpenSans-Regular";
    src: url("/assets/fonts/OpenSans-Regular.ttf");
}
@font-face {
    font-family: "OpenSans-ExtraBold";
    src: url("/assets/fonts/OpenSans-ExtraBold.ttf");
}