$text_color: #402B2B;
$text_color-light: #FFFFFF;

$color_primary: #EE4D47;
$color_primary_hover: #f0645f;

$color-additional: #7c7c7c;
$bg-color-dark: #171819;

$default-font: 'Rubik-Light';

$media-breackpoints: ("desktop": 1920px, "laptop": 1367px, "tablet": 1024px, "mobile": 767px);