$text_color: #000000;
$text_color-light: #FFFFFF;

$color_primary: #00A4E5;
$color_primary_hover: #1c9acc;

$color-additional: #7c7c7c;
$bg-color-dark: #171819;

$default-font: 'OpenSans-Regular';

$media-breackpoints: ("desktop": 1920px, "laptop": 1367px, "tablet": 1024px, "mobile": 767px);