.top{
    &__article{
        width: 741px;
        margin-top: 90px;
        margin-bottom: 60px;
        // transform: translate(-40%, 0);
        // opacity: 0;
        // transition: all 1s ease 0s;

        
    }

    
}